.navbar {
  color: white;
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 14px;
  z-index: 999;
  position: fixed;
  top: 0px;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  transition: 0.2s ease-in-out;
  padding: 30px 10px;
}
.navbar.scrolled {
  background-color: var(--main-color);
  transition: 0.2s ease-in-out;
  opacity: 0.9;
}
.navbar > .left > img {
  width: 120px;
  height: 30px;
  cursor: pointer;
}
.navbar > .left {
  display: flex;
  color: white;
  width: 50%;
  align-items: center;
  gap: 20px;
  padding-left: 50px;
}
.navbar > .right > span {
  padding: 0px 30px;
}
.navbar > .right > img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 0px 1px 0px 30px;
  object-fit: cover;
  cursor: pointer;
}

.navbar > .right {
  display: flex;
  color: white;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}
.profileimage {
  overflow: hidden;
  padding: 10px;
}
.profileimage img {
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .navbar > .left > img {
    width: 60px;
    height: 20px;
  }
}
