:root {
  --main-color: #0b0b0b;
  --red: #e50914;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: white;
  user-select: none;
  min-width: 1200px;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
